flask>=2.2.5
werkzeug>=2.2.5
firebase-admin
flask-cors==3.0.10
flask-limiter==2.4.0
flask-caching==1.10.1
flask-compress==1.12
python-dotenv==0.19.0
anthropic==0.3.11
prometheus-client==0.16.0
redis==4.5.1
python-json-logger==2.0.4
gunicorn